body {
  /*background: #04000d;*/
 
  min-width: 1024px;
  background-image: url(assets/img/home.jpg);
  background-size:100%;
  width:100%;
  height:100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
